
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a *ngIf="!hardcodedAuthentication.isAdminLoggedIn()" class="nav-link" href="#">Admin</a>
      </li>
      <li *ngIf="hardcodedAuthentication.isAdminLoggedIn()" class="nav-item active" >
          <a class="nav-link" (click)="customerview()">All Customer</a>
        </li>
        <li *ngIf="hardcodedAuthentication.isAdminLoggedIn()" class="nav-item active">
          <a class="nav-link" (click)="resturantview()">Resturant</a>
        </li>
    </ul>
    <ul *ngIf="hardcodedAuthentication.isAdminLoggedIn()" class="navbar-nav navbar-collapse justify-content-end">
      <li><button mat-raised-button class="btn btn-outline-primary mr-10">Log Out</button></li>
    </ul>
  </div>
</nav>
<div class="container" *ngIf="!hardcodedAuthentication.isAdminLoggedIn()">
  <div *ngIf="!hardcodedAuthentication.isAdminLoggedIn()" class="form-wrapper">
 <form (ngSubmit)="loginValid()" #LoginForm="ngForm" novalidate>
          <div class="form-group">
              <label for="name">Admin Email:</label>
              <input type="text" class="form-control" #adminloginemail="ngModel" [(ngModel)]="loginData.adminloginemail" minlength="5" maxlength="20"name="adminloginemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            
          </div>
          <div class="form-group">
            <span class="text-danger" *ngIf="(adminloginemail.touched || LoginForm.submitted) && adminloginemail.errors?.['required']">
            Email is required
            </span>
            <span class="text-danger" *ngIf="adminloginemail.touched && adminloginemail.errors?.['pattern']">
            Enter a valid email address
            </span>
          </div>
          <div class="form-group">
              <label for="mobilenumber">Password:</label>
              <input type="password" class="form-control" #adminloginpassword="ngModel"  minlength="5" maxlength="20"
  
              [(ngModel)]="loginData.adminloginpassword" name="adminloginpassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
              
          </div>
          <div class="form-group">
            <span class="text-danger"
  
   *ngIf="(adminloginpassword.touched || LoginForm.submitted) && adminloginpassword.errors?.['required']">
  
   Password is required
  
   </span>


   <span class="text-danger" *ngIf="adminloginpassword.touched && adminloginpassword.errors?.['pattern']">
    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
    letter, 1 number and 1 special character
  </span>
          </div>
          <div class="form-group">
            <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-success">Login</button>
          </div>
      </form>
  </div>
</div>
</div>