
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: url(https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1200&format=pjpg&exif=1&iptc=1);
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
}

.form-wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    background-color: #f8f9fa;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add margin bottom for spacing */
}

.form-group > .form-control,
.btn-primary {
    width: 100%;
}