<div class="bg-img">
    
<div><button class="btn btn-success" (click)="addItem()">Add Item</button></div>
<div class="container">
            <div class="row">
                <div *ngFor="let item of items" class="col-4 col-md-4 mt-3">
                    <div class="card">
                        <img class="card-img-top" src="{{item.itemimage}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{item.itemname}}</p>
                            <p class="card-text">{{item.itemcost}}</p>
                            <p class="card-text">{{item.itemstatus}}</p>
                        </div>
                        <div class="card-body">
                            <button class=" btn-success card-text" (click)="addToCart">Add to Cart</button>
                            <button class=" btn-success card-text" (click)="updateItem(item.itemid)"> Update Item</button>
                            <button class=" btn-success card-text" (click)="deleteItem(item.itemid)"> Delete Item</button> 
                        </div>
                    </div>
                </div>
            </div>
</div>

</div>




